
# Тренеры

Список тренеров:

User,Password,Access key ID,Secret access key
%{ for name, data in trainers ~}
${name},${data.password},${data.access},${data.secret}
%{ endfor ~}

Тренер имеет права администратора в облаке.

Процесс настройки представлен в файле `ADM-025_Module_0_PreRequirements.pptx` в материалах к тренингу.

# Студенты

Список студентов:

User,Password,Access key ID,Secret access key
%{ for name, data in students ~}
${name},${data.password},${data.access},${data.secret}
%{ endfor ~}

Студенты не имеют прав администратора в облаке.

Процесс настройки представлен в файле `ADM-025_Module_0_PreRequirements.pdf` в материалах к тренингу.

%{ if instance.present ~}
# Рабочая станция

Некоторые студенты не могут работать с локальной машине (недостаточно ресурсов, ограничения по установке и запуска программ и т.д.). Для них выделяется общая рабочая станция, на которой установлено необходимо программное обеспечение.

IP адрес: ${instance.ip}

Админский ключ пользователя `${instance.main_user}` от машины в файле `keys/${instance.main_key}`.

Каждый пользователь (тренер и студент) имеет свой ключ `keys/username`. Он может подключаться на машину с именем студента. Подключаться так:

```console
$ ssh -i username username@${instance.ip}
```

Тренеры имеют права sudo.
Студенты не имеют прав sudo.

Следующие программы установлены:
- aws (v2)
- terraform (последняя)

Параметры аутентификации `aws` для пользователей настроены.
%{ endif ~}
